<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <%= link_to "Movie App", root_path, class: "navbar-brand" %>
    <div class="">
      <% if current_page?(root_path) %>
        <%= link_to "Create new list", new_list_path, class: "btn btn-primary" %>
      <% elsif current_page?(list_path(@list)) %>
        <%= link_to "Add movie to list", new_list_bookmark_path(@list), class: "btn btn-primary" %>  
      <% end %>
    </div>
  </div>
</nav>